.image {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  @extend %transition;
  
  &:hover {
    transform: scale(1.2);
  }

  &__wrapper {
    width: 20rem;
    height: 20rem;
    border-radius: 0.9rem;
    overflow: hidden;
    filter: drop-shadow(0px 3px 3px #222);
  }
}