@font-face {
  font-family: "Italianno";
  src: url("assets/fonts/Italianno/Italianno-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url("assets/fonts/Open_Sans/OpenSans-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Open Sans";
  src: url("assets/fonts/Open_Sans/OpenSans-Regular.ttf");
  font-weight: 400;
}